
.head {
  text-align: center;
  font-size: 40px;
  color: #2980b9;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: bold;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: #105cb6;
  border-style: solid;
  border-radius: 10px;
}

body {
  background-color: rgb(239, 233, 219);
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 5%;
  color: black;
}

h1 {
  color: black;
  text-align: center;
  font-size: 36px;
}

p {
  color: #34495e;
  font-size: 20px;
  line-height: 1.6;
}

h2 {
  text-align: center;
  text-underline-position: below;
  text-decoration: underline;
  margin-top: 5%;
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}



a {
  display: inline-block;
  text-decoration:none;
  color: white;
  background-color: green;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #2980b9;
}

nav {
  background-color: #a4cbf0;
  padding: 15px 0;
  margin-bottom: 30px;
  display: flex;
  justify-content:center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #f39c12;
}

@media (max-media: 768px) {
nav a {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}
h1 {
  font-size: 28px;
}
p {
  font-size: 16px;
}

}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.bounce-button {
  animation: bounce 1s infinite;
}

form {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid #ddd;
  font-size: 16px;
  box-sizing: border-box;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #2c7be5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #105cb6;
}

.home {
  background-color: #f39c12;
  
}

.center {
  text-align: center;
}
